th{
	color: olive;
	font-family: Arial, Verdana, geneva, sans-serif;
	font-size: 24pt;
	font-weight: normal;
 }
a.leftmenu{
	color: #000066;
	font-family: Arial, Verdana, geneva, sans-serif;
	font-size: 12pt;
	font-weight: normal; 
}
a.leftmenu:link {
	color: #000066;
	text-decoration: none; 
}
a.leftmenu:visited {
	color: #000066;
	text-decoration: none; 
}
a.leftmenu:hover {
	font-weight: bold;
	text-decoration: underline; 
}
a.leftmenu:onMouseOver {
	cursor: arrow; 
}	
p.page_content
	{font-size: 10pt; color: navy; text-align: left; margin-left: 100; }


a.doc_menu {
	color: #000066;
	font-family: Arial, Verdana, geneva, sans-serif;
	font-size: 10pt;
	font-weight: normal; 
}
a.doc_menu:link {
	color: #000066;
	text-decoration: none; 
}
a.doc_menu:visited {
	color: #000066;
	text-decoration: none; 
}
a.doc_menu:hover {
	font-weight: bold;
	text-decoration: underline; 
}
a.doc_menu:onMouseOver {
	cursor: arrow; 
}	
h1{
	margin-top:12.0pt;
	margin-right:0cm;
	margin-bottom:3.0pt;
	margin-left:0cm;
	page-break-after:avoid;
	font-size:14.0pt;
	font-family:Arial;
}	
p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin:0cm;
	margin-bottom:.0001pt;
	font-size:14.0pt;
	font-family:Arial;
}
p.MsoBodyText, li.MsoBodyTextIndent, div.MsoBodyTextIndent
	{margin:0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	text-indent:23.0pt;
	line-height:150%;
	layout-grid-mode:char;
	font-size:12.0pt;
	font-family:Arial;}
p.copyright
	{margin:0cm;
	margin-bottom:.0001pt;
	font-size:8.0pt;
	font-family:verdana;}
