.page:link { color:blue; text-decoration: none;
}
.page:visited {color:purple; text-decoration: none;
}
.page:hover {font-weight:bold; text-decoration: underline;
}

A {
	COLOR: #444444; TEXT-DECORATION: none
}
A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.xxx {
	COLOR: #000000; TEXT-DECORATION: none
}
A.xxx:hover {
	COLOR: #c00000
}
.xxx2 {
	COLOR: #444444; TEXT-DECORATION: underline
}
A.xxx2:hover {
	COLOR: #000000
}
.xxx3 {
	FONT-WEIGHT: bold; COLOR: #000000; TEXT-DECORATION: underline
}
A.xxx3:hover {
	COLOR: #c00000
}
SELECT {
	FONT-SIZE: 10px; FONT-FAMILY: tahoma
}
INPUT {
	FONT-SIZE: 10px; FONT-FAMILY: tahoma
}
FORM {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px
}
DL {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px
}
DT {
	MARGIN-TOP: 0px; FONT-WEIGHT: bold; MARGIN-BOTTOM: 0px
}
P {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px
}
il {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px
}
UL {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px
}
OL {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px
}
BLOCKQUOTE {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px
}
BODY {
	FONT-SIZE: 8pt; FONT-FAMILY: Verdana
}
.txt {
	FONT-SIZE: 8pt; FONT-FAMILY: Verdana
}
.txt0 {
	FONT-SIZE: 10px; FONT-FAMILY: Tahoma
}
TD {
	FONT-SIZE: 11px; FONT-FAMILY: Tahoma
}
TH {
	FONT-SIZE: 11px; FONT-FAMILY: Tahoma
}
.txt1 {
	FONT-SIZE: 11px; FONT-FAMILY: Tahoma
}
.txt2 {
	FONT-SIZE: 10pt; FONT-FAMILY: Verdana
}
.zgl {
	FONT-WEIGHT: bold; FONT-SIZE: 13pt; COLOR: #6f6f90; FONT-FAMILY: Verdana
}
.zgl2 {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #6f6f90; FONT-FAMILY: Verdana
}
.child {
	DISPLAY: none
}
.childo {
	DISPLAY: block
}
.text, li
	{margin:0cm;
	margin-bottom:.0001pt;
	font-size:9.0pt;
	font-family:"verdana";
	line-height: 150%;}

.first
	{font-size:9.0pt;
	margin-top:0pt;
	font-family:"verdana";
                    text-indent: 20pt;
                    line-height: 130%;}
h1
	{font-size:14.0pt;
	font-family:"verdana";
	}