 p, li
	{margin:0cm;
	margin-bottom:0pt;
	font-size:10.0pt;
	font-family:"verdana";}
.sec	
	{list-style-type: lower-alpha;
}
p.first
	{text-indent: 20pt;}
h1, h2, h3	
	{font-family: Arial, Verdana;
}
h1	{
	font-size: 16pt;
	color: blue;
}
h2	{
	font-size: 14pt;
	color: navy;
}
.MsoNormal
	{margin:0cm;
	margin-bottom:0 pt;
	font-size:14.0pt;
	font-family:"Times New Roman";}
p.page_content
	{font-size: 10pt; color: navy; text-align: left; margin-left: 100; }


a.doc_menu {
	color: #000066;
	font-family: Arial, Verdana, geneva, sans-serif;
	font-size: 10pt;
	font-weight: normal; 
}
a.doc_menu:link {
	color: #000066;
	text-decoration: none; 
}
a.doc_menu:visited {
	color: #000066;
	text-decoration: none; 
}
a.doc_menu:hover {
	font-weight: bold;
	text-decoration: underline; 
}
a.doc_menu:onMouseOver {
	cursor: arrow; 
}	